extends ./ntu.EWR_16-17.layout.jade

block title
  title 注册

block content
  .wrapper
    .container.grey-bg.full-pg#services-label
      .row
        h1 这儿注册!
      .row
        //- Replace "your-id-here" with the document key of your google form.
        iframe(
          src="https://docs.google.com/forms/d/1t_5OjPJR8kRm88BH5lr-bpqa8l5SoBbeQvp3XJ9_H1Y/viewform?embedded=true"
          width="730"
          height="900"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          ) Loading...