extends ./amc.amtee.layout.jade

block title
  title AmTee订购

block content
  .wrapper
    .container.grey-bg.full-pg#services-label
      .row
        h1 请在这儿订购
      .row
        //- Replace "your-id-here" with the document key of your google form.
        iframe(
          src="https://docs.google.com/forms/d/1T7XuxAXkCl5qAh7Z_N09j_mLwI4Wj2yLZYImm9LTtmI/viewform?embedded=true"
          width="730"
          height="900"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          ) Loading...