extends ./ntu.ammo.layout.jade

block title
  title Feedback

block content
  .wrapper
    .container.grey-bg.full-pg#services-label
      .row
        h1 帮我们把活动办得更好吧!
      .row
        //- Replace the "your-key-here" with the document key found in your link. 
        iframe(
          src ="https://docs.google.com/forms/d/1NfveUw2KyTYVHBDzK572PRPAlZYD0ig_Yh7UFVZ197E/viewform?embedded=true"          
          width="800"
          height="900"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          ) Loading...