extends ./ntu.amkidkid.layout.jade

block title
  title 注册

block content
  .wrapper
    .container.grey-bg.full-pg#services-label
      .row
        h1 请填写搭客资料
      .row
        //- Replace "your-id-here" with the document key of your google form.
        iframe(
          src="https://docs.google.com/forms/d/16HjYN0MHwxU-Nd4RC86XO3jrwGRJHWCq3QtOAcF3yMM/viewform?embedded=true"
          width="730"
          height="900"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          ) Loading...