extends ./ntu.amcny.layout.jade

block title
  title 注册

block content
  .wrapper
    .container.grey-bg.full-pg#services-label
      .row
        h1 请填写资料
      .row
        //- Replace "your-id-here" with the document key of your google form.
        iframe(
          src="https://kooltzh.typeform.com/to/RDXmTh"
          width="730"
          height="900"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          ) Loading...