extends ./ntu.halloween.layout.jade

block title
  title Contact Us

block content
  .panel.panel-danger.section
    .panel-heading
      h1 这儿注册!
    .panel-body.section
      iframe(
        src="https://docs.google.com/forms/d/1KWMusga90iNPyVLCarHtKlioEoCGlchc85mO-97j0sE/viewform?embedded=true"
        width="730"
        height="950"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        ) Loading...
      .section