extends ./ntu.halloween.layout.jade

block title
  title Contact Us

block content
  .panel.panel-info.section
    .panel-heading
      h1 Register here!
    .panel-body
      iframe(
        src="https://docs.google.com/forms/d/1KWMusga90iNPyVLCarHtKlioEoCGlchc85mO-97j0sE/viewform?embedded=true"
        width="730"
        height="720"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        ) Loading...
      .section