extends ./layout.jade

block title
  title Contact Us

block content
  .panel.panel-success.section
    .panel-heading
      h1 Contact us!
    .panel-body
      a(href="https://www.facebook.com/groups/419331528149726/?fref=ts").btn.btn-info.btn-lg 
        span.fa.fa-facebook-square.ico-small &nbsp;
        | NTU Facebook Page
      a(href="https://www.facebook.com/amcisanusntu?fref=ts").btn.btn-info.btn-lg 
        span.fa.fa-facebook-square.ico-small &nbsp;
        | ACMISA Facebook Page
      a(href="https://www.facebook.com/groups/nusamcisa/?fref=ts").btn.btn-info.btn-lg 
        span.fa.fa-facebook-square.ico-small &nbsp;
        | NUS Facebook Page
      br
      iframe.section(
        src="https://docs.google.com/forms/d/13JU44BSW_TtIy7IcgB5NDkRvbFUX-m-27QHjCSv5yGQ/viewform?embedded=true"
        width="760"
        height="800"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        ) Loading...
      .section