extends ./layout.jade

block title
  title Contact Us

block content
  link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
  .wrapper
    .container.full-pg#services-label
      .row
        h1 联络我们吧!
      .row 
        h2 官网链接
      .row
        a(href="https://www.facebook.com/groups/419331528149726/?fref=ts").btn.btn-success.btn-lg
          span.fa.fa-facebook-square.ico-small &nbsp;
          | NTU Facebook Page
        a(href="https://www.facebook.com/amcisanusntu?fref=ts").btn.btn-primary.btn-lg
          span.fa.fa-facebook-square.ico-small &nbsp;
          | AMCISA Facebook Page
        a(href="https://www.facebook.com/groups/nusamcisa/?fref=ts").btn.btn-warning.btn-lg
          span.fa.fa-facebook-square.ico-small &nbsp;
          | NUS Facebook Page
      .row
        h2 询问栏
      .row
        iframe.section(
          src="https://docs.google.com/forms/d/13JU44BSW_TtIy7IcgB5NDkRvbFUX-m-27QHjCSv5yGQ/viewform?embedded=true"
          width="760"
          height="770"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          ) Loading...