mixin candidate(name, position)
  .col-sm-3.choice(name=position, value=name)
    img(src='img/election/'+name+'.jpg', c='false')
    h3=name

mixin candidateNoSelect(name, position)
  .col-sm-3.notChoice(name=position, value=name)
    img(src='img/election/'+name+'.jpg', c='false')
    h3=name


mixin select(attr, position)
  .col-sm-3.choice(name=position, value=attr)
    if attr.indexOf('赞成')  != -1
      img(src='http://placehold.it/99x128/00ff00?text=+', c='false')
    else if attr.indexOf('反对')  != -1
      img(src='http://placehold.it/99x128/ff0000?text=+', c='false')
    else
      img(src='http://placehold.it/99x128/999999?text=+', c='false')
    h3=attr

mixin modal()
  .modal.animated.align-left
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3.error 
            i.fa.fa-fw.fa-exclamation-triangle.red 
            span Error!
          h3.success 
            i.fa.fa-fw.fa-smile-o.green 
            span Success!
        .modal-body
          p.body-content.error Error
          p.body-content.success Success

doctype html5
html
  head 
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    meta(name="viewport",content="width=device-width,initial-scale=1")
    //meta(http-equiv="refresh" content="90")
    
    link(href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cosmo/bootstrap.min.css", rel="stylesheet")
    link(href="./css/app.css", rel="stylesheet")
    link(href="./css/election.css", rel="stylesheet")
    link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")

title AMCISA NTU分会 第34届执行委员选举
body
  +modal  
  .wrapper
      h1
        | AMCISA NTU分会
        br
        | 第34届执行委员选举
        br
      br
      h4 
        | 投票须知：
        br
        | 1. 本次投票不允许有废票，因此你投选的票数
        b 不可少于
        | 各职位所需要的数量。
        br
        | 2. 点击一次即为
        b 选择
        | 该位人选，再点击一次既可以
        b 反选
        | 该位人选。
        br
        | 3. 当你在各职位所投选的票数已达到该职位所需的数量时，你便
        b 不可以点选其他人选。
        br
        | 如果你想要更改你的选择，你必须
        b 反选
        | 你之前选择的人选。

      .login-block
        h1 Please Enter Secret Key
        input(type='password', placeholder='Secret Key')
      .matric-block
        h1 Please Enter Your Matric Number
        input(type='password', placeholder='Matric No')
      .voting-block
        .col-sm-1
        form.form-horizontal.text-left.col-sm-11
          // Start name list here
          .form-group
            .col-sm-12
              label.col-sm-2.control-label
                h1
                  | 会长
                  br
                  span 1位
              .col-sm-10
                +candidateNoSelect('蔡欣学', 'President')
                +select('蔡欣学 - 赞成','President')
                +select('蔡欣学 - 反对','President')
            
            .col-sm-12
              label.col-sm-2.control-label
                h1
                  | 副会长
                  br
                  span 1位
              .col-sm-10
                +candidateNoSelect('林文熙', 'VicePresident')
                +select('林文熙 - 赞成','VicePresident')
                +select('林文熙 - 反对','VicePresident')


            .col-sm-12
              label.col-sm-2.control-label
                h1
                  | 秘书
                  br
                  span 1位
              .col-sm-10
                +candidateNoSelect('陈静怡', 'Secretary')
                +select('陈静怡 - 赞成','Secretary')
                +select('陈静怡 - 反对','Secretary')

            .col-sm-12
              label.col-sm-2.control-label
                h1
                  | 财政
                  br
                  span 1位
              .col-sm-10
                +candidateNoSelect('黄雯静', 'Treasurer')
                +select('黄雯静 - 赞成','Treasurer')
                +select('黄雯静 - 反对','Treasurer')
            
            .col-sm-12
              label.col-sm-2.control-label
                h1
                  | 节策
                  br
                  span 3位
              .col-sm-10
                +candidateNoSelect('余惠滢', 'Programmer')
                +select('余惠滢 - 赞成','Programmer')
                +select('余惠滢 - 反对','Programmer')
                .col-sm-3
                +candidateNoSelect('戴运荣', 'Programmer')
                +select('戴运荣 - 赞成','Programmer')
                +select('戴运荣 - 反对','Programmer')
                .col-sm-3
                +candidateNoSelect('杨祖仪', 'Programmer')
                +select('杨祖仪 - 赞成','Programmer')
                +select('杨祖仪 - 反对','Programmer')

            .col-sm-12
              label.col-sm-2.control-label
                h1
                  | 编辑
                  br
                  span 2位
              .col-sm-10
                +candidateNoSelect('赖政樨', 'Editor')
                +select('赖政樨 - 赞成','Editor')
                +select('赖政樨 - 反对','Editor')
                .col-sm-3
                +candidateNoSelect('陈凯宇', 'Editor')
                +select('陈凯宇 - 赞成','Editor')
                +select('陈凯宇 - 反对','Editor')
            
            .col-sm-12
              label.col-sm-2.control-label
                h1
                  | 总务
                  br
                  span 2位
              .col-sm-10
                +candidateNoSelect('姚智升', 'Log')
                +select('姚智升 - 赞成','Log')
                +select('姚智升 - 反对','Log')
                .col-sm-3
                +candidateNoSelect('黄照财', 'Log')
                +select('黄照财 - 赞成','Log')
                +select('黄照财 - 反对','Log')
                
            .col-sm-12
              label.col-sm-2.control-label
                h1
                  | 网持
                  br
                  span 2位
              .col-sm-10
                +candidateNoSelect('谢文轩', 'Webdev')
                +select('谢文轩 - 赞成','Webdev')
                +select('谢文轩 - 反对','Webdev')
                .col-sm-3
                +candidateNoSelect('吴明修', 'Webdev')
                +select('吴明修 - 赞成','Webdev')
                +select('吴明修 - 反对','Webdev')

          
          .col-sm-4
          .col-sm-4
            .col-sm-10.col-sm-offset-4
              button.btn.btn-primary(type='submit') Submit
          .col-sm-4
      .confirm-success.confirm-jump.animated
        span.fa.fa-fw.fa-check-square-o.green
        h2 感谢你的投票！这个网页将在3秒后自动刷新。
      .confirm-error.confirm-jump.animated
        span.fa.fa-fw.fa-exclamation-triangle.red
        h2 Voting error! The page will refresh in 3 seconds.
    // Utility scripts
  script(src="js/jquery-1.11.0.js")
  script(src="js/bootstrap.min.js")
  script(src="js/googlepage.js")
  script(src="js/session.js")
  script(src="js/util.js")
  script(src="js/election.js")
