extends ./layout.jade

block title
  title Update

block content
  .wrapper
    h1 AMCISA 1617新会员登记
    iframe.section(
      src="https://docs.google.com/forms/d/1ud8iWekgwRSSvwHO1CuANR2rTKq8w9LZIvx3og0eyiU/viewform?embedded=true"
      width="760"
      height="1860"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      ) Loading...