extends ./layout.jade

block title
  title Update

block content
  .wrapper
    h1 AMICSA会员统考成绩统计
    iframe.section(
      src="https://docs.google.com/forms/d/1GCTlb8aLpIzO6Vo9Wnju5TA_Bfm5E_PTp1FWiPMDLCY/viewform?embedded=true"
      width="760"
      height="1860"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      ) Loading...