extends ./layout.jade

block title
  title Update

block content
  .wrapper
    h1 Amcisa 会员资料更新
    iframe.section(
      src="https://docs.google.com/forms/d/1Zetnx4aOTcW-el_9s6p1d375tBTPu-SbKZQ2Sz8r9T4/viewform?embedded=true"
      width="760"
      height="1860"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      ) Loading...