extends ./ntu.msd.layout.jade

block title
  title 注册

block content
  .wrapper
    .container.grey-bg.full-pg#services-label
      .row
        h1 这儿注册!
      .row
        //- Replace "your-id-here" with the document key of your google form.
        iframe(
          src="https://docs.google.com/forms/d/1rFeWiKudyM216pg16zwAcGw3WaHnbJqx6LJ4od39dYU/viewform?embedded=true"
          width="730"
          height="2200"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          ) Loading...