extends ./ntu.ammo.layout.jade

block title
  title AMMO 2015 报名表格

block content
  .wrapper
    .container.grey-bg.full-pg#services-label
      .row
        h1 这儿注册!
      .row
        //- Replace "your-id-here" with the document key of your google form.
        iframe(
          src="https://docs.google.com/forms/d/1bameuH9LGFLva39NbFIrGDmsCwHmMu2Ov7-Uuotvs9w/viewform?embedded=true"
          width="730"
          height="1750"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          ) Loading...