
mixin text-form(name)
  .form-group&attributes(attributes)
    label.col-lg-2.control-label=name
    .col-lg-10
      input.form-control(type='text', placeholder="...")

mixin textArea-form(name)
  .form-group&attributes(attributes)
    label.col-lg-2.control-label=name
    .col-lg-10
      textarea.form-control(rows='3')
    block

mixin select-form(name,options,range)
  .form-group&attributes(attributes)
    label.col-lg-2.control-label=name
    .col-lg-10
      select.form-control
        if block
          block
        if options
          each o in options
            option=o

mixin password-form(name)
  .form-group&attributes(attributes)
    label.col-lg-2.control-label=name
    .col-lg-10
      input.form-control(type='password', placeholder="Only type this if you want to change your password")



form.form-horizontal
  fieldset
    legend.align-center Personal Information
    //omitted secondary school
    +text-form("中文姓名")(class="Name_CH")
    +text-form("English Name")(class="Name_EN")
    +text-form("Personal Email")(class="Email_Personal")
    +text-form("School Email")(class="Email_School")
    +select-form("Hall")(class="Hall")
      option outside
      option Kent Ridge Hall
      option Temasek Hall
      option King Edward Vll Hall
      option Ridge View Residence
      option Prince George's Park Residence
      option Eusoff Hall
      - var n = 1
      while n < 19
        option= n++
    +text-form("Block")(class="halldata Block hide")
    +text-form("Level")(class="halldata Level hide")
    +text-form("Room")(class="halldata Room hide")
    +textArea-form("Address Outside")(class="Address_Outside")
    +text-form("Phone (MY)")(class="Phone_MY")
    +text-form("Phone (SG)*")(class="Phone_SG")
    +select-form("Gender", ["M","F"])(class="Gender")
    
    +select-form("Secondary School")(class="Secondary_School")
      option 柔佛－麻坡中化中学
      option 柔佛－利丰港培华独立中学
      option 柔佛－居銮中华中学
      option 柔佛－永平中学
      option 柔佛－峇株巴辖华仁中学 
      option 柔佛－新文龙中华中学 
      option 柔佛－笨珍培群独立中学 
      option 柔佛－新山宽柔中学 
      option 柔佛－宽柔中学古来分校 
      option 马六甲－马六甲培风中学 
      option 森美兰－芙蓉中华中学 
      option 森美兰－波德申中华中学 
      option 吉隆坡－吉隆坡循人中学 
      option 吉隆坡－吉隆坡坤成中学
      option 吉隆坡－吉隆坡尊孔独立中学
      option 吉隆坡－吉隆坡中华独立中学
      option 雪兰莪－巴生光华独立中学
      option 雪兰莪－巴生滨华中学
      option 雪兰莪－巴生兴华中学
      option 雪兰莪－巴生中华独立中学
      option 霹雳－怡保深斋中学
      option 霹雳－霹雳育才独立中学
      option 霹雳－怡保培南中学
      option 霹雳－班台育青中学
      option 霹雳－江沙崇华独立中学
      option 霹雳－曼绒南华独立中学
      option 霹雳－金宝培元独立中学
      option 霹雳－安顺三民独立中学
      option 霹雳－太平华联中学
      option 吉兰丹－吉兰丹中华独立中学
      option 吉打－双溪大年新民独立中学
      option 吉打－亚罗士打新民独立中学
      option 吉打－亚罗士打吉华独立中学
      option 槟城－大山脚日新独立中学
      option 槟城－槟城韩江中学
      option 槟城－槟城钟灵独立中学
      option 槟城－槟城槟华女子独立中学
      option 槟城－槟城菩提独立中学
      option 砂拉越－古晋中华第一中学
      option 砂拉越－古晋中华第三中学
      option 砂拉越－古晋中华第四中学
      option 砂拉越－石角民立中学
      option 砂拉越－西连民众中学
      option 砂拉越－诗巫光民中学
      option 砂拉越－诗巫黄乃裳中学
      option 砂拉越－诗巫建兴中学
      option 砂拉越－诗巫公教中学
      option 砂拉越－诗巫公民中学
      option 砂拉越－民都鲁开智中学
      option 砂拉越－美里培民中学
      option 砂拉越－美里廉律中学
      option 砂拉越－泗里奎民立中学
      option 沙巴－沙巴崇正中学
      option 沙巴－沙巴建国中学
      option 沙巴－沙巴吧巴中学
      option 沙巴－沙巴保佛中学
      option 沙巴－丹南崇正中学
      option 沙巴－斗湖巴华中学
      option 沙巴－古达培正中学
      option 沙巴－沙巴拿笃中学
      option 沙巴－山打根育源中学
      option 其他
    
    +select-form("Entry Year", ["1","2"])(class="Entry_Year")
    +select-form("Course")(class="Course")
      option ACC (Accounting)
      option ADM (Arts, Design and Media)
      option AERO (Aerospace Engineering)
      option BIE (Bioengineering)
      option BS (Biological sciences)
      option BUS (Business)
      option CBC (Chemical and Biological Chemistry)
      option CBE (Chemical and Biomolecular Engineering)
      option CE (Computer Engineering)
      option CEE (Civil Engineering)
      option CHEM (Chemical Engineering)
      option CHIN (Chinese)
      option CSC (Computer Science)
      option ECONS (Economics)
      option EEE (Electrical & Electronic Engineering)
      option ENE (Environmental Engineering)
      option ENG (Common Engineering)
      option FS (Food Sciences)
      option IEM (Information Engineering & Media)
      option LMS (Lee Kong Chien Medical School)
      option LS (Life Sciences)
      option MAE (Mechanical Engineering)
      option MAEC (Mathematics and Economics)
      option MAFI (Mathematics and Finance)
      option MARI (Maritime Studies)
      option MAS (Mathematical Sciences)
      option MSE (Material Sciences)
      option NIE (National Institute of Education)
      option PAP (Physics and Applied Physics)
      option PHY (Physics)
      option PPGA (Public Policy and Global Affairs)
      option PSY (Psychology)
      option QF (Quantitative Finance)
      option WKW (Wee Kim Wee School Of Communication Studies)
    +password-form("Current Password")(class="oldPassword")
    +password-form("New Password")(class="Password")
    .form-group
      .col-lg-10.col-lg-offset-2
        button.btn.btn-primary(type='submit').submit
          span Update!
          i.fa.fa-fw.fa-circle-o-notch.fa-spin.hide